*.env
stash*
Vagrantfile
hosts
ansible.cfg
.vagrant
1.sh
*.key
*.cer
docker/main/compose.yaml
docker/main/nginxContainer/website/logs
docker/main/nginxContainer/nginxConf
docker/main/fileBrowserContainer
docker/clients
certs
autoDockerUp/docker-compose-watch.sh
php_prod_limpio.ini
website.yml