[Unit]
Description=Docker Compose Trigger Watcher
After=network.target docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/docker-compose-watch.sh
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target